on: [push]

jobs:

  azure-login:
    runs-on: ubuntu-latest
    steps:
    - name: Get existing secret
      id: get_secret
      run: |
        value=$(gh secret get secrets.AZURE_CREDENTIALS)
        echo "::set-output name=secret_value::$value""
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Azure CLI Action
      uses: azure/CLI@v1
      with:
        azcliversion: 2.0.72
        inlineScript: |
          az account show
    - name: shell script
      run: echo "hello"${{ secrets.AZURE_CREDENTIALS }}
